body {
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

input, button {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.cont, .logg-cont {
    width: 20%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    // display: none;
}

.cont input{
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.cont input:focus {
    border: 1px solid #777;
}

.cont button, .logg-cont button {
    background: #5d8ffc;
    color: #fff;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.cont button:hover, .logg-cont button:hover {
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}